.btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  color: var(--body-color);
  white-space: nowrap;
  transition: var(--transition);
}

.btn-outline {
  color: var(--primary-color);
  background-color: var(--bg-color);
  padding: 0.875rem 1.75rem;
  width: 100%;
  max-width: 9.375rem;
  border-radius: var(--rounded-lg);
  border: 1px solid var(--primary-color);
  text-align: center;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.btn-solid {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: var(--rounded);
  padding: 1.125rem 2.25rem;
  width: 100%;
  max-width: 15.625rem;
}

.btn-solid:hover {
  opacity: 0.8;
}

.btn-full {
  max-width: none;
}
