.slider-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-dots {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.slider-dot {
  width: 1rem;
  height: 1rem;
  border-radius: var(--rounded-full);
  background-color: #dde0e4;
}

.slider-dot.slider-dot-active {
  width: 3rem;
  background-color: var(--primary-color);
}

.slider-buttons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.slider-btn {
  padding: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: var(--rounded-full);
  color: var(--primary-color);
}

.slider-btn:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
  box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.15);
}
