*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
iframe {
  display: block;
  width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
}

input,
button {
  display: block;
  font: inherit;
  border: 0;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-ff);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--body-color);
  background-color: var(--bg-color);
  font-weight: 400;
}
