.about-container {
    --grid-cols: 3;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    padding: 2.5rem 0;
    background-color: var(--bg-color);
    border-radius: var(--rounded);
}

.about-container.shadow {
    --shadow-bg: #0D1025;
    --shadow-opacity: 0.06;
    --shadown-top-offset: 2.5rem;
    --shadow-blur: 3.5rem;
}

.about-box {
    display: flex;
    justify-content: center;
}

.about-box:not(:last-child) {
    --border: 2px solid #eeeff2;
    border-right: var(--border);
}

.about-content {
    display: flex;
    align-items: center;
    gap: 2.25rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

@media (max-width:1024px) {
    .about-content {
        flex-direction: column;
        gap: 0.5rem;
    }
    .about-text {
        flex-direction: row;
        gap: 0.5rem;
    }
}

@media (max-width:768px) {
    .about-container {
        --grid-cols: 1;
    }

    .about-item {
        padding: 1.5rem 0;
    }

    .about-box {
        padding: 1.5rem 0;
        max-width: 200px;
        margin: 0 auto;
    }

    .about-container {
        padding: 0;
    }

    .about-box:not(:last-child) {
        border-bottom: var(--border);
        border-right: 0;
    }
}